openapi: 3.2.0
info:
  title: Buildkite REST Artifacts API
  version: v2
  description: 'Programmatic control of Buildkite Pipelines covering organizations, pipelines,

    builds, jobs, artifacts, annotations, agents, clusters, queues, and access tokens.

    Authenticated with a Bearer API access token.

    '
  contact:
    name: Buildkite Support
    url: https://buildkite.com/support
  license:
    name: Buildkite Terms of Service
    url: https://buildkite.com/legal/terms-of-service
servers:
- url: https://api.buildkite.com/v2
  description: Buildkite REST API v2
security:
- bearerAuth: []
tags:
- name: Artifacts
paths:
  /organizations/{org}/pipelines/{pipeline}/builds/{number}/artifacts:
    get:
      tags:
      - Artifacts
      summary: List Artifacts For A Build
      operationId: listArtifactsForBuild
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/BuildNumber'
      responses:
        '200':
          description: A list of artifacts
components:
  parameters:
    Pipeline:
      name: pipeline
      in: path
      required: true
      schema:
        type: string
      description: Pipeline slug
    Org:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Organization slug
    BuildNumber:
      name: number
      in: path
      required: true
      schema:
        type: integer
      description: Build number
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API access token
