openapi: 3.2.0
info:
  title: Buildkite REST Pipelines API
  version: v2
  description: 'Programmatic control of Buildkite Pipelines covering organizations, pipelines,

    builds, jobs, artifacts, annotations, agents, clusters, queues, and access tokens.

    Authenticated with a Bearer API access token.

    '
  contact:
    name: Buildkite Support
    url: https://buildkite.com/support
  license:
    name: Buildkite Terms of Service
    url: https://buildkite.com/legal/terms-of-service
servers:
- url: https://api.buildkite.com/v2
  description: Buildkite REST API v2
security:
- bearerAuth: []
tags:
- name: Pipelines
paths:
  /organizations/{org}/pipelines:
    get:
      tags:
      - Pipelines
      summary: List Pipelines
      operationId: listPipelines
      parameters:
      - $ref: '#/components/parameters/Org'
      responses:
        '200':
          description: A list of pipelines
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pipeline'
    post:
      tags:
      - Pipelines
      summary: Create A Pipeline
      operationId: createPipeline
      parameters:
      - $ref: '#/components/parameters/Org'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pipeline'
      responses:
        '201':
          description: Pipeline created
  /organizations/{org}/pipelines/{pipeline}:
    get:
      tags:
      - Pipelines
      summary: Get A Pipeline
      operationId: getPipeline
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/Pipeline'
      responses:
        '200':
          description: Pipeline record
    patch:
      tags:
      - Pipelines
      summary: Update A Pipeline
      operationId: updatePipeline
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/Pipeline'
      responses:
        '200':
          description: Pipeline updated
    delete:
      tags:
      - Pipelines
      summary: Delete A Pipeline
      operationId: deletePipeline
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/Pipeline'
      responses:
        '204':
          description: Pipeline deleted
components:
  schemas:
    Pipeline:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        web_url:
          type: string
          format: uri
        name:
          type: string
        slug:
          type: string
        repository:
          type: string
        cluster_id:
          type: string
          format: uuid
        default_branch:
          type: string
        description:
          type: string
        configuration:
          type: string
        steps:
          type: array
          items:
            type: object
        created_at:
          type: string
          format: date-time
        archived_at:
          type:
          - string
          - 'null'
          format: date-time
  parameters:
    Pipeline:
      name: pipeline
      in: path
      required: true
      schema:
        type: string
      description: Pipeline slug
    Org:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Organization slug
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API access token
