openapi: 3.0.3
info:
  title: Buildkite Agent Access Token Jobs API
  version: v3
  description: 'Public subset of the Buildkite Agent API consumed by the open-source agent (Go) to register,

    accept, and finish jobs. Most endpoints are reserved for internal use; only the documented

    public endpoints are stable. Authenticated with an Agent Token (`Authorization: Token <agent-token>`).

    '
  contact:
    name: Buildkite Agent
    url: https://github.com/buildkite/agent
servers:
- url: https://agent.buildkite.com/v3
  description: Standard Agent API
- url: https://agent-edge.buildkite.com/v3
  description: Edge Agent API (adds gRPC methods alongside JSON)
security:
- agentToken: []
tags:
- name: Jobs
paths:
  /organizations/{org}/pipelines/{pipeline}/builds/{number}/jobs/{job}/retry:
    put:
      tags:
      - Jobs
      summary: Retry A Job
      operationId: retryJob
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/BuildNumber'
      - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Job retried
  /organizations/{org}/pipelines/{pipeline}/builds/{number}/jobs/{job}/log:
    get:
      tags:
      - Jobs
      summary: Get Job Log Output
      operationId: getJobLog
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/BuildNumber'
      - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Log content
components:
  parameters:
    BuildNumber:
      name: number
      in: path
      required: true
      schema:
        type: integer
      description: Build number
    Org:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Organization slug
    Pipeline:
      name: pipeline
      in: path
      required: true
      schema:
        type: string
      description: Pipeline slug
    JobId:
      name: job
      in: path
      required: true
      schema:
        type: string
      description: Job UUID
  securitySchemes:
    agentToken:
      type: http
      scheme: bearer
      bearerFormat: Agent Token (sent as `Token <value>`)
