openapi: 3.2.0
info:
  title: Buildkite REST Agents API
  version: v2
  description: 'Programmatic control of Buildkite Pipelines covering organizations, pipelines,

    builds, jobs, artifacts, annotations, agents, clusters, queues, and access tokens.

    Authenticated with a Bearer API access token.

    '
  contact:
    name: Buildkite Support
    url: https://buildkite.com/support
  license:
    name: Buildkite Terms of Service
    url: https://buildkite.com/legal/terms-of-service
servers:
- url: https://api.buildkite.com/v2
  description: Buildkite REST API v2
security:
- bearerAuth: []
tags:
- name: Agents
paths:
  /organizations/{org}/agents:
    get:
      tags:
      - Agents
      summary: List Agents
      operationId: listAgents
      parameters:
      - $ref: '#/components/parameters/Org'
      responses:
        '200':
          description: A list of agents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Agent'
  /organizations/{org}/agents/{id}:
    get:
      tags:
      - Agents
      summary: Get An Agent
      operationId: getAgent
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent record
  /organizations/{org}/agents/{id}/stop:
    put:
      tags:
      - Agents
      summary: Stop An Agent
      operationId: stopAgent
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/AgentId'
      responses:
        '204':
          description: Agent stopped
components:
  schemas:
    Agent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        connection_state:
          type: string
          enum:
          - connected
          - disconnected
          - stopped
          - stopping
          - lost
          - never_connected
        hostname:
          type: string
        ip_address:
          type: string
        user_agent:
          type: string
        version:
          type: string
        meta_data:
          type: array
          items:
            type: string
        cluster_id:
          type: string
          format: uuid
        queue:
          type: string
        created_at:
          type: string
          format: date-time
  parameters:
    AgentId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Agent UUID
    Org:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Organization slug
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API access token
