openapi: 3.2.0
info:
  title: Buildkite REST Builds API
  version: v2
  description: 'Programmatic control of Buildkite Pipelines covering organizations, pipelines,

    builds, jobs, artifacts, annotations, agents, clusters, queues, and access tokens.

    Authenticated with a Bearer API access token.

    '
  contact:
    name: Buildkite Support
    url: https://buildkite.com/support
  license:
    name: Buildkite Terms of Service
    url: https://buildkite.com/legal/terms-of-service
servers:
- url: https://api.buildkite.com/v2
  description: Buildkite REST API v2
security:
- bearerAuth: []
tags:
- name: Builds
paths:
  /organizations/{org}/pipelines/{pipeline}/builds:
    get:
      tags:
      - Builds
      summary: List Builds For A Pipeline
      operationId: listBuilds
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/Pipeline'
      responses:
        '200':
          description: A list of builds
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Build'
    post:
      tags:
      - Builds
      summary: Create A Build
      operationId: createBuild
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/Pipeline'
      responses:
        '201':
          description: Build created
  /organizations/{org}/pipelines/{pipeline}/builds/{number}:
    get:
      tags:
      - Builds
      summary: Get A Build
      operationId: getBuild
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/BuildNumber'
      responses:
        '200':
          description: Build record
  /organizations/{org}/pipelines/{pipeline}/builds/{number}/cancel:
    put:
      tags:
      - Builds
      summary: Cancel A Build
      operationId: cancelBuild
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/BuildNumber'
      responses:
        '200':
          description: Build cancelled
  /organizations/{org}/pipelines/{pipeline}/builds/{number}/rebuild:
    put:
      tags:
      - Builds
      summary: Rebuild A Build
      operationId: rebuildBuild
      parameters:
      - $ref: '#/components/parameters/Org'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/BuildNumber'
      responses:
        '200':
          description: Build re-queued
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        avatar_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
    Build:
      type: object
      properties:
        id:
          type: string
          format: uuid
        number:
          type: integer
        state:
          type: string
          enum:
          - running
          - scheduled
          - passed
          - failed
          - blocked
          - canceled
          - canceling
          - skipped
          - not_run
          - finished
        branch:
          type: string
        commit:
          type: string
        message:
          type: string
        url:
          type: string
          format: uri
        web_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        scheduled_at:
          type: string
          format: date-time
        started_at:
          type:
          - string
          - 'null'
          format: date-time
        finished_at:
          type:
          - string
          - 'null'
          format: date-time
        creator:
          $ref: '#/components/schemas/User'
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/Job'
    Job:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - script
          - waiter
          - manual
          - trigger
          - block
        name:
          type: string
        state:
          type: string
        command:
          type: string
        agent_query_rules:
          type: array
          items:
            type: string
        web_url:
          type: string
          format: uri
        log_url:
          type: string
          format: uri
        raw_log_url:
          type: string
          format: uri
        exit_status:
          type:
          - integer
          - 'null'
        started_at:
          type:
          - string
          - 'null'
          format: date-time
        finished_at:
          type:
          - string
          - 'null'
          format: date-time
  parameters:
    BuildNumber:
      name: number
      in: path
      required: true
      schema:
        type: integer
      description: Build number
    Org:
      name: org
      in: path
      required: true
      schema:
        type: string
      description: Organization slug
    Pipeline:
      name: pipeline
      in: path
      required: true
      schema:
        type: string
      description: Pipeline slug
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API access token
